[Unit]
Description=Marina graphical Sway session
Documentation=man:sway(1)
After=systemd-user-sessions.service user@1000.service getty@tty1.service
Conflicts=getty@tty1.service
Wants=user@1000.service
Wants=marina-active.target

[Service]
Type=simple
User=ultramarine
Group=ultramarine
PAMName=login
TTYPath=/dev/tty1
UtmpIdentifier=tty1
UtmpMode=user
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
Environment=HOME=/home/ultramarine
Environment=USER=ultramarine
Environment=LOGNAME=ultramarine
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=sway
Environment=XDG_SESSION_DESKTOP=sway
Environment=MOZ_ENABLE_WAYLAND=1
Environment=QT_QPA_PLATFORM=wayland
Environment=SDL_VIDEODRIVER=wayland
ExecStart=/usr/bin/sway
Restart=on-failure
RestartSec=2
MemoryHigh=192M
MemoryMax=384M
CPUWeight=50
IOWeight=50
OOMScoreAdjust=300
Slice=graphical.slice

[Install]
WantedBy=graphical.target
