[Unit]
Description=Load the TG5050 vendor Mali kbase module
Requires=systemd-sysext.service
After=systemd-sysext.service systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/modprobe mali_kbase
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
Alias=gpu-kmod.service
