[Unit]
Description=Load the TG5050 Panfrost modules
Requires=systemd-sysext.service
After=systemd-sysext.service systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/modprobe panfrost
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
Alias=gpu-kmod.service
