CONFIG_ARCH_SUNXI=y
CONFIG_AW_BSP=y
CONFIG_AW_SOC_NAME="A523"
CONFIG_AW_IOMMU=y
CONFIG_AW_IOMMU_V1=y
CONFIG_IOMMU_IO_PGTABLE=y
CONFIG_IOMMU_IO_PGTABLE_LPAE=y
CONFIG_PM_DEVFREQ=y
CONFIG_RESET_CONTROLLER=y
CONFIG_RESET_SUNXI=y
CONFIG_DRM=y
CONFIG_DRM_SCHED=m
CONFIG_DRM_GEM_SHMEM_HELPER=m
CONFIG_AW_DRM=y
CONFIG_AW_DRM_DE=y
CONFIG_AW_DRM_TCON=y
CONFIG_AW_DRM_TCON_TOP=y
CONFIG_AW_DRM_DSI=y
CONFIG_AW_DRM_PHY=y
CONFIG_AW_DRM_DSI_COMBOPHY=y
CONFIG_AW_DRM_PANFROST=m
