[Unit]
Description=Marina remote Foot/Zellij console
PartOf=sway-session.target

[Service]
Type=simple
Environment=SHELL=/bin/bash
Environment=HOME=/home/ultramarine
ExecStartPre=-/usr/bin/zellij delete-session --force remote
ExecStart=/usr/bin/foot zellij -s remote
ExecStopPost=-/usr/bin/zellij delete-session --force remote
Restart=on-failure
RestartSec=2
KillMode=mixed


[Install]
WantedBy=sway-session.target
