# SPDX-License-Identifier: (GPL-2.0-only OR MIT)
# Mainline U-Boot config for the Trimui Smart Pro S (Allwinner A523, TG5050).
# Source/build tree: https://github.com/MidG971/u-boot, branch trimui-2026.10.
# BL31: https://github.com/jernejsk/arm-trusted-firmware, branch a523-v4.
CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_DEFAULT_DEVICE_TREE="allwinner/sun55i-a523-trimui-smart-pro-s"
CONFIG_SPL=y
# DRAM: 1 GiB LPDDR4 @ 1200 MHz; parameters validated on real hardware.
CONFIG_DRAM_SUNXI_DX_ODT=0x07070707
CONFIG_DRAM_SUNXI_DX_DRI=0x0d0d0d0d
CONFIG_DRAM_SUNXI_CA_DRI=0x0e0e
CONFIG_DRAM_SUNXI_ODT_EN=0x84848484
CONFIG_DRAM_SUNXI_TPR0=0x80808080
CONFIG_DRAM_SUNXI_TPR1=0x06060606
CONFIG_DRAM_SUNXI_TPR6=0x38000000
CONFIG_DRAM_SUNXI_TPR10=0x802f3333
CONFIG_DRAM_SUNXI_TPR11=0xc7c5c4c2
CONFIG_DRAM_SUNXI_TPR12=0x3533302f
CONFIG_MACH_SUN55I_A523=y
CONFIG_MMC_SUNXI_SLOT_EXTRA=2
CONFIG_R_I2C_ENABLE=y
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
# FIT is loaded from raw sector 0x200; keep the FIT data offset at zero.
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_SECTOR=0x200
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_DATA_PART_OFFSET=0x0
CONFIG_SPL_I2C=y
CONFIG_SPL_SYS_I2C_LEGACY=y
CONFIG_SYS_I2C_MVTWSI=y
CONFIG_SYS_I2C_SLAVE=0x7f
CONFIG_SYS_I2C_SPEED=400000
CONFIG_SUPPORT_EMMC_BOOT=y
CONFIG_SUN8I_EMAC=y
CONFIG_PHY_REALTEK=y
CONFIG_REGULATOR_AXP=y
CONFIG_AXP717_POWER=y
CONFIG_AXP_DCDC2_VOLT=920
# DCDC3 is LPDDR4 VCC-DRAM at 1.10 V typ.
CONFIG_AXP_DCDC3_VOLT=1100
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y
